aside.logo {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

aside.logo {
    padding: 0px 15px;
    width: 100%;
}

@media(max-width:576px) {
    aside.logo img{
        width: 300px;
    }
    
}